:root {
  --dark-bg: #1e1e2e;
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

.extension-dark-bg {
  background-color: var(--dark-bg);
  padding: 4px 10px;
}

.hljs {
  color: var(--rosewater);
  background: var(--dark-bg);
}

.hljs-keyword {
  color: var(--rosewater);
}

.hljs-built_in {
  color: var(--red);
}

.hljs-type {
  color: var(--yellow);
}

.hljs-literal,
.hljs-number {
  color: var(--peach);
}

.hljs-operator {
  color: var(--teal);
}

.hljs-punctuation {
  color: var(--subtext0);
}

.hljs-property,
.hljs-regexp {
  color: var(--teal);
}

.hljs-string,
.hljs-char\\.escape_,
.hljs-subst {
  color: var(--green);
}

.hljs-symbol {
  color: var(--flamingo);
}

.hljs-variable,
.hljs-variable\\.language_,
.hljs-variable\\.constant_ {
  color: var(--rosewater);
}

.hljs-title {
  color: var(--sky);
}

.hljs-title\\.class_ {
  color: var(--yellow);
}

.hljs-title\\.function_ {
  color: var(--sky);
}

.hljs-params {
  color: var(--text);
}

.hljs-comment {
  color: var(--subtext1);
}

.hljs-doctag {
  color: var(--red);
}

.hljs-meta {
  color: var(--peach);
}

.hljs-section {
  color: var(--sky);
}

.hljs-tag,
.hljs-name,
.hljs-attr,
.hljs-attribute {
  color: var(--subtext0);
}

.hljs-bullet {
  color: var(--teal);
}

.hljs-code {
  color: var(--green);
}

.hljs-emphasis,
.hljs-strong {
  color: var(--red);
  font-weight: bold;
}

.hljs-formula {
  color: var(--teal);
}

.hljs-link {
  color: var(--sapphire);
  font-style: italic;
}

.hljs-quote {
  color: var(--green);
  font-style: italic;
}

.hljs-selector-tag {
  color: var(--yellow);
}

.hljs-selector-id {
  color: var(--sky);
}

.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: var(--teal);
}

.hljs-template-tag,
.hljs-template-variable {
  color: var(--flamingo);
}

.hljs-addition {
  color: var(--green);
  background: rgba(166, 227, 161, 0.15);
}

.hljs-deletion {
  color: var(--red);
  background: rgba(243, 139, 168, 0.15);
}
